div.deeplinks {
  display: flex;
  align-items: top;
  margin-bottom: 2em;
  @media (max-width: $medium) {
    margin-bottom: 1.5em;
    line-height: 1.1;
  }
}

.deeplinks-post {
  text-align: left;
  @media (max-width: $medium) {
    padding: 0 0 0 10px;
  }

  a {
    color: $black;
    text-decoration: underline;
  }

  a.title {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    line-height: 1.2;
    @media (max-width: $medium) {
      font-size: 18px;
      line-height: 1.1;
    }
  }
}

.deeplinks-blurb {
  font-family: "Monserrat", serif;
  color: $black;
  font-size: 14px;
  @media (max-width: $medium) {
    display: none;
  }
}

img.deeplinks-thumb {
  object-fit: cover;
  width: 200px;
  height: 200px;
  @media (max-width: $medium) {
    width: 100px;
    height: 100px;
  }
}

div.deeplinks-thumb {
  text-align: center;
  @media (max-width: $medium) {
    padding: 0;
  }
}

.deeplinks-byline {
  font-weight: bold;
  color: $gray;
  line-height: 1;
  @media (max-width: $medium) {
    font-weight: normal;
    font-size: 12px;
  }
}
