
/* Montserrat */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(fonts/Montserrat-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: local('Montserrat Black'), local('Montserrat-Black'), url(fonts/Montserrat-Black.woff) format('woff');
}



@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(fonts/Montserrat-Bold.woff) format('woff');
}

#tools {
  margin-top: 0;
  h2.tool-title {
    display: none;
  }
  .congress-message-rep-lookup #lookup-address .form-group {
    margin-bottom: 20px;
  }
 .tool {
    border: none;
    box-shadow: none;
    background-color: transparent;
  }
  #congress-message-tool, #call-tool {
    h3 em {
      background-color: transparent;
      text-transform: uppercase;
      color: black;
      font-weight: 700;
    }
    h3.privacy-notice-header em {
        font-weight: bold;
        font-size: 11px;
        float: left;
        margin-right: 5px;
        line-height: 1.6em;
        background-color: transparent;
    }
  }
  .description h3:before,
  h3.privacy-notice-header:before,
  h3.header:before,
  #email-tool h3:before,
  #congress-message-tool h3:before {
    border-bottom: none;
  }


  #congress-message-tool textarea,
  #call-tool textarea {
    font-weight: normal;
    padding: 1em;
    font-size: 1em;
  }
  #congress-message-tool h3 span.customize-message-popover,
  h3.privacy-notice-header span.privacy-notice-popover {
    background-color: #ffd100;
    color: #ff0000;
    border-color: #ff0000;
  }
  #congress-message-tool h3 span.customize-message-popover:hover,
  h3.privacy-notice-header span.privacy-notice-popover:hover,
  h3.privacy-notice-header span.privacy-notice-popover:hover {
    background-color: #ff0000;
    color: #ffd100;
  }
  #congress-message-tool .form-group .form-control {
    border: none;
  }
  #congress-message-tool .privacy-notice {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
  }
  #congress-message-tool,
  #call-tool {
    button.action {
      clear: both;
      text-decoration: none;
      font-weight: 400;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      border: 3px solid #ff0000;
      padding: 2px 15px;
      font-weight: bold;
      border-radius: 6px;
      margin-top: 2em;
      background-color: #ffd100;
      outline: 0;
      color: #ff0000;
      width: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
      &:hover {
        background-color: #ff0000;
        border: 3px solid #ff0000;
        color: #ffd100;
      }
    }
    h3.privacy-notice-header span.privacy-notice-popover {
      float: left;
      margin-right: 3px;
    }
  }
  .tool .tool-body {
    position: relative;
  }
  .tool form {
    /*  margin-left: 55%;
      width: 46%; */
    #customize-message h3 {
      margin-top: 10px;
    }
  }
}

body.action_page-embed_iframe {
  background-color: transparent;
}
