$black: #000;
$blue: #00a9e7;
$lighter-blue: #00c6ff;
$dark-red: #017e00;
$red: #c50000;
$dark-red: #950002;
$white: #ffffff;
$yellow: #ffd100;

$trans-blue: rgba(0,126,255,0.6);
$footer-color: #000;

$medium: 768px;
$small: 767px;

@import 'sharelinks';
@import 'breakpoint';

$cone-height: 40;
$cone-angle: 40;

/*
* Globals
*/


/* Montserrat */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(fonts/Montserrat-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: local('Montserrat Black'), local('Montserrat-Black'), url(fonts/Montserrat-Black.woff) format('woff');
}



@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(fonts/Montserrat-Bold.woff) format('woff');
}



/* Links */
a,
a:focus,
a:hover {
  color: $red;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: $red;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid $red;
}

/*
* Base structure
*/
html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}
body {
  color: #151515;
  text-align: center;
}



/*
* Navbar
*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  background-color: #000;
}
.navbar-inverse.visible {
  opacity: 1;
}
.navbar-inverse {
  display: none;
  background-color: #000;
}

.nav>li>a {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: 700;
}
.navbar-inverse .navbar-brand {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 17px;
  font-family: Montserrat;
  font-weight: 700;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>li>a {
  color: $blue;
  background-color: #000;
  font-size: 17px;
}


// button

%button, .button {
  text-decoration: none;
  font-weight: 400;
  font-family: 'Montserrat';
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 3px solid #{$red};
  padding: 2px 15px;
  font-weight: bold;
  border-radius: 6px;
  margin-top: 2em;
  background-color: transparent;
  outline: 0;
  width: 84%;
  color: $white;
  a {
    color: $red;
    text-decoration: none;
    &:hover{
      background-color: $red;
      color: $white;
    }
  }
  &:hover{
    background-color: $red;
    color: $white;
    a {
      color: $white;
    }
  }
}

h2 {
  font-weight: 400;
  letter-spacing: 0.01em;
  font-style: normal;
  font-size: 3.5em;
  @include breakpoint($medium) {
    font-size: 4em;
  }
  @media (max-width: 580px) {
    font-size: 3em;
  }
  @media (max-width: 495px) {
    color: $black;
    font-size: 1.7em;
    letter-spacing: normal;
  }
}

.header-info {
  background-color: $blue;
  img {
    border-bottom: 2em solid $blue;
    display: inline-block;
    position: relative;
    left: 0px;
    @include breakpoint($medium) {
      border-bottom: none;
    }
  }
  @media (min-width: 1200px) {
    img {
      left: -60px;
    }
    img:last-child {
      margin-right: -60px;
    }
  }
  .action-button {
    width: 50%;
    min-width: 14em;
    a {
      text-decoration: none;
      text-transform: uppercase;
      padding: 15px;
      span {
        font-size: 1.5rem;
      }
      @include breakpoint($medium) {
        font-size: 1.2em;
        span {
          font-size: 1.8rem;
        }
      }
    }
  }
  p {
    color: #000;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    text-shadow: none;
    opacity: 1;
    margin-bottom:20px;
    text-align: left;
    @include breakpoint($medium) {
      font-size: 1.5em;
    }
  }
  b {
    font-weight: 900;
  }

  h1 {
    color: $red;
    text-shadow: none;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 5em;
    text-transform: uppercase;
    @media (min-width: 992px) {
      color: $red;
    }
    @include breakpoint($medium) {
      @media (min-width: 992px) {
        padding: 0;
      }
    }
  }
  h2 {
    font-size: 2em;
  }
}

/* main container, boostrap override */
.container {
  @media (max-width: 495px) {
    padding: 0 5px 0 0;
  }
}

/*
* Background section
*/
.content-section {
  padding: 4em 0;
  position: relative;
  overflow-x: hidden;
  .action-button {
    width: 50%;
    min-width: 14em;
    a {
      text-decoration: none;
      span.larger {
        font-size: 1.5em;
        line-height: 1em;
      }
      @include breakpoint($medium) {
        font-size: 1.4em;
      }
    }
  }
  p, li {
    color: #000;
    font-style: normal;
    font-weight: 400;
    text-shadow: none;
    opacity: 1;
    margin-bottom:20px;
    font-size: 1.5em;
    @media (max-width: 495px) {
      font-size: 1.2em;
    }
  }
  b {
    font-weight: 900;
  }

  h2 {
    text-shadow: none;
    font-family: Montserrat;
    font-weight: 900;
    text-transform: uppercase;
    margin: 10px 0 35px;
    @include breakpoint($medium) {
      @media (min-width: 992px) {
        padding: 0;
      }
    }
    @media (max-width: 495px) {
      margin: 10px 0;
    }
  }
  .white-box {
    margin: 2em 0;
    padding: 2em 2em 1em;
    background-color: $white;
    text-align: left;
  }
  @media (max-width: 850px) {
    .white-box {
      margin: 0px;
      padding: 0px;
      background-color: transparent;
    }
  }
  @media (max-width: 495px) {
    padding: 2em 0;
  }
}

.action-embed iframe {
  height: 615px;
  padding-top: 20px;
  max-width: 100%;
}

// QUOTES

.quote-section {
  text-shadow: none;
  padding-bottom: 20px;
  text-align: center;
  div div div { // quotes
    margin-bottom: 4em;
    &:first-of-type {
      margin-top: 60px;
      @media (max-width: 495px) {
        margin-top: 20px;
      }
    }
    a, span {
      color: black;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 0.15em;
      font-size: 1em;
      text-align: right;
      margin-left: 35%;
      display: block;
    }
  }

  p {
    font-size: 22px;
    font-weight: 300;
    line-height: 27px;
    @media (max-width: 495px) {
      font-size: 1.2em;
    }
  }

}


// twitter section

.tweet-section {
  background: #fff;
  position: relative;
  background: $red;
  padding-top: 30px;
  padding-bottom: 40px;
  color: $black;

  .tweet-block {
    &:hover {
      background-color: $trans-blue;
    }
    background-color: #007eff;
    display: block;
    border-radius: 5px;
    height: 8em;
    margin-bottom: 1em;

    div {
      padding-top: 1em;
      @include breakpoint($medium) {
        padding-top: 0.5em;
      }
    }
    img {
      padding-top: 1.5em;
      width: 3em;
      height: auto;
      @include breakpoint($medium) {
        padding-top: 1em;
        width: 5em;

      }
    }
    p {
      color: #fff;
      padding-left: 0em;
      font-size: 0.9em;
      padding-top: 0.8em;
      @include breakpoint($medium) {
        font-size: 1.2em;
        padding-top: 1.1em;
      }
      text-align: left;
    }
  }
}



// logo section

.logo-section {
  img {
    width: 200px;
    height: auto;
    padding: 1em;
  }
  .eff-logo {
    display: block;
  }
  .eff-logo img {
    width: 400px;
  }
  ul li {
    list-style: none;
  }
}

/*
* Footer
*/

.footer {
  background-color: $footer-color;
  color: $white;
  padding: 20px 0;
  text-align: left;
  text-transform: uppercase;
  font-size: 0.8em;
  @include breakpoint($medium) {
    font-size: 1.3em;
  }


  .footer-logo {
    margin: 0 auto;
    max-width: 100%;
    @include breakpoint($medium) {
      max-width: 50%;
    }
    a {
      margin: 0;
      padding: 0;
    }
  }

  img {
    margin: 0 2em 2em;
  }

  a {
    color: $white;
    margin: 0 10px;
    @include breakpoint($medium) {
      margin: 0 60px;
    }
  }
  a:hover {
    text-decoration: underline;
  }
}


/*
* Affix and center
*/

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }


}

.navbar-brand, .navbar .nav li a {
  font-weight: 700 !important;
  font-family: 'Montserrat';
}

.header-tag h1 {
  font-weight: 900;
}

.action-button p a.button {
  font-size: 16px !important;
  padding-left: 50px;
  padding-right: 50px;
  min-width: 270px;
}

#take-action iframe {
  @media (max-width: 768px) {
    width: 100%;
  }
}

.codeblock {
  text-align: left !important;
  pre {
    text-align: left !important;
  }
  padding-bottom: 60px;
}

h1 {
  font-weight: 900 !important;
}

.background-section {
  padding-bottom: 60px;
}

.quote-section {
  h1 {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 900;
  }
}

p.letter {
  text-align: center;
}

.action-button {
  min-width: 270px !important;
  margin: 3em auto !important;
  text-align: center;
}
p.tagline {
  text-align: center;
}
.bg-yellow {
  background-color: $yellow;
  h2 {
    color: $white;
  }
}

@media (max-width: 768px) {
  .bg-yellow {
    background-color: $white;
    h2 {
      color: $black;
    }
  }
}


.bg-blue {
  background-color: $lighter-blue;
  h2 {
    color: $black;
    text-align: center;
  }
}
.bg-black {
  background-color: $black;
  h2 {
    color: $white;
    text-align: center;
  }
  p, a, li {
    color: $white;
  }
}

h2.black {
  color: $black;
}
