/* Montserrat */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(fonts/Montserrat-Regular.woff) format("woff"); }

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: local("Montserrat Black"), local("Montserrat-Black"), url(fonts/Montserrat-Black.woff) format("woff"); }

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(fonts/Montserrat-Bold.woff) format("woff"); }

#tools {
  margin-top: 0; }
  #tools h2.tool-title {
    display: none; }
  #tools .congress-message-rep-lookup #lookup-address .form-group {
    margin-bottom: 20px; }
  #tools .tool {
    border: none;
    box-shadow: none;
    background-color: transparent; }
  #tools #congress-message-tool h3 em, #tools #call-tool h3 em {
    background-color: transparent;
    text-transform: uppercase;
    color: black;
    font-weight: 700; }
  #tools #congress-message-tool h3.privacy-notice-header em, #tools #call-tool h3.privacy-notice-header em {
    font-weight: bold;
    font-size: 11px;
    float: left;
    margin-right: 5px;
    line-height: 1.6em;
    background-color: transparent; }
  #tools .description h3:before,
  #tools h3.privacy-notice-header:before,
  #tools h3.header:before,
  #tools #email-tool h3:before,
  #tools #congress-message-tool h3:before {
    border-bottom: none; }
  #tools #congress-message-tool textarea,
  #tools #call-tool textarea {
    font-weight: normal;
    padding: 1em;
    font-size: 1em; }
  #tools #congress-message-tool h3 span.customize-message-popover,
  #tools h3.privacy-notice-header span.privacy-notice-popover {
    background-color: #ffd100;
    color: #ff0000;
    border-color: #ff0000; }
  #tools #congress-message-tool h3 span.customize-message-popover:hover,
  #tools h3.privacy-notice-header span.privacy-notice-popover:hover,
  #tools h3.privacy-notice-header span.privacy-notice-popover:hover {
    background-color: #ff0000;
    color: #ffd100; }
  #tools #congress-message-tool .form-group .form-control {
    border: none; }
  #tools #congress-message-tool .privacy-notice {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px; }
  #tools #congress-message-tool button.action,
  #tools #call-tool button.action {
    clear: both;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    border: 3px solid #ff0000;
    padding: 2px 15px;
    font-weight: bold;
    border-radius: 6px;
    margin-top: 3em;
    background-color: #ffd100;
    outline: 0;
    color: #ff0000;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto; }
    #tools #congress-message-tool button.action:hover,
    #tools #call-tool button.action:hover {
      background-color: #ff0000;
      border: 3px solid #ff0000;
      color: #ffd100; }
  #tools #congress-message-tool h3.privacy-notice-header span.privacy-notice-popover,
  #tools #call-tool h3.privacy-notice-header span.privacy-notice-popover {
    float: left;
    margin-right: 3px; }
  #tools #congress-message-tool .tool-body,
  #tools #call-tool .tool-body {
    background-color: #eee;
    padding-bottom: 2rem; }
    #tools #congress-message-tool .tool-body .call-script-box,
    #tools #call-tool .tool-body .call-script-box {
      background-color: #fff; }
  #tools #congress-message-tool .signup-radios label.radio-inline,
  #tools #congress-message-tool .email-signup label.radio-inline,
  #tools #call-tool .signup-radios label.radio-inline,
  #tools #call-tool .email-signup label.radio-inline {
    background-color: #fff; }
  #tools .tool .tool-body {
    position: relative; }
  #tools .tool form {
    /*  margin-left: 55%;
      width: 46%; */ }
    #tools .tool form #customize-message h3 {
      margin-top: 10px; }

body.action_page-embed_iframe {
  background-color: transparent; }
