<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>

    <link rel="stylesheet" type="text/css" href="site.css" />

    <script type="text/javascript">
        var ac_embed = {};
        ac_embed.css_content = "#some_elem";
    </script>
    <script id="some_elem" type="text/x-css-content">
      body {
        background-color: green;
      }

      .tool-container {
        background-color: pink;
      }
    </script>
    <script type="text/javascript" src="https://act.eff.org/action/embed"></script>
  </head>

  <body>
    {{ block "main" . }}{{ end }}
  </body>
</html>
