<div class="content-section bg-yellow" id="facts">
  <div class="container text-left">
    <div class="col-md-8 col-md-offset-2">
      <h2>Facts about SESTA/FOSTA</h2>

        <p>On February 27, <a href="https://www.eff.org/deeplinks/2018/02/house-vote-fosta-win-censorship">the House of Representatives passed a bill</a> that combined the Stop Enabling Sex Traffickers Act (SESTA) and the Allow States and Victims to Fight Online Sex Trafficking Act (FOSTA). This new version of FOSTA would:</p>

        <ul>
          <li>Expand existing federal criminal sex trafficking law to target online platforms where sex trafficking content appears. Platform owners could be prosecuted under the expanded law even if they didn&#8217;t know that people were using those platforms for sex trafficking purposes..</li>
          <li>Open online platforms to new criminal and civil liability for sex trafficking at both the federal and state levels.</li>
          <li>Expand federal criminal prostitution law to cover those who use the Internet to &#8220;promote or facilitate prostitution.&#8221; Many platforms would feel pressured to become more restrictive in their treatment of sexual speech.</li>
          <li>Change the law <em>retroactively</em>: an online platform could be prosecuted under state law or held civilly liable for sex trafficking for failing to comply with the law before it passed.</li>
        </ul>

    </div>
  </div>
</div>
