<div class="content-section bg-black" id="facts">
  <div class="container text-left">
    <div class="col-md-8 col-md-offset-2">
      <h2>Facts about SESTA/FOSTA</h2>

        <p>President Trump signed The Allow States and Victims to Fight Online Sex Trafficking Act (FOSTA) in April 2018. This law combined a previous version of FOSTA with the Senate’s Stop Enabling Sex Traffickers Act (SESTA). Among other things, the new law:</p>

        <ul>
          <li>Expands existing federal criminal law to target online platforms where users discuss sex work and related topics. Platform owners can be prosecuted under the expanded law even in cases where they didn’t know that people were using those platforms to engage in sex work, and even in situations where there is no indication of coerced sex trafficking of adults or minors..</li>
          <li>Opens online platforms to new criminal and civil liability for hosting content about sex work at both the federal and state levels.</li>
          <li>Changes the law <em>retroactively</em>: an online platform can be prosecuted under federal and state law or held civilly liable for hosting content created before FOSTA passed. </li>
        </ul>

        <p>The crushing criminal and civil liability created by the law has incentivized platforms to over-censor their users. When platforms err on the side of censorship, it’s marginalized voices that are hit hardest.</p>

    </div>
  </div>
</div>
