<div class="content-section quote-section bg-blue" id="facts">
  <div class="container text-left">
    <div class="col-md-8 col-md-offset-2">
      <h2>Facts about FOSTA+SESTA</h2>

        <p>On February 27, <a href="https://www.eff.org/deeplinks/2018/02/house-vote-fosta-win-censorship">the House of Representatives passed a bill</a> that combined the worst elements of the Stop Enabling Sex Traffickers Act (SESTA) and the Allow States and Victims to Fight Online Sex Trafficking Act (FOSTA). This new version of FOSTA would:</p>

        <ul>
          <li>Expand existing federal sex trafficking law to prosecute web platforms where sex trafficking takes place. Platform owners could be prosecuted under the expanded law even if they didn&#8217;t know that people were using those platforms for sex trafficking purposes.</li>
          <li>Open online platforms to both criminal and civil liability at both the federal and state level.</li>
          <li>Expand federal prostitution law to prosecute those who use online platforms to &#8220;promote or facilitate prostitution,&#8221; including cases where no force or coercion took place.</li>
          <li>Change the law <em>retroactively</em>: a platform could be prosecuted for failing to comply with the law before it passed.</li>
        </ul>

    </div>
  </div>
</div>
