<div class="content-section quote-section">
  <div class="container text-left">
    <div class="col-md-10 col-md-offset-1">
      <h2>Letter to Congress:</h2>

<p>As your constituent, I am writing to urge you to oppose both the Stop Enabling Sex Traffickers Act (S. 1693) and the Allow States and Victims to Fight Online Sex Trafficking Act (H.R. 1865). These bills would be disastrous for freedom of speech and expression online as well as for innovation in online businesses.</p>

<p>The bills weaken 47 U.S.C. 230, one of the most important laws protecting free expression online. Section 230 has contributed directly to the rise of Internet-based services by giving them some assurance that they won’t be exposed to massive criminal and civil liability for their customers’ activities.</p>

<p>Without the protections provided under Section 230, the risk of litigation might have prevented many successful Internet platforms from ever getting off the ground. Undermining Section 230 would also put online hubs run by nonprofit and community groups, which serve as invaluable outlets for free expression and collaboration, in severe danger.</p>

<p>Sex trafficking is a horrible problem, and Congress should be applauded for turning its attention to it. But these bills are not the solution. They will be detrimental to everyone who relies on the Internet for work, socializing, and sharing knowledge and ideas.</p>

<p>Please oppose S. 1693, H.R. 1865, and any future attempts in Congress to weaken protections for online speech under Section 230.</p>

    </div>
  </div>
</div>
