<div class="content-section quote-section bg-blue" id="quotes">
  <div class="container text-left">
    <div class="col-md-8 col-md-offset-2">
      <h2>Experts oppose SESTA/FOSTA</h2>

      <div class="quote">
        <p>Online platforms are the modern town square. We all benefit from the diversity of voices and perspectives online, and that&#8217;s largely thanks to the safe harbor protections in Section 230. Shifting more liability to Internet platforms for their users&#8217; speech will inevitably lead to those platforms more tightly monitoring and restricting users' activities. Again and again, when platforms clamp down on their users&#8217; speech, marginalized voices are the first to disappear.</p>
        <span>Cindy Cohn, Executive Director of the Electronic Frontier Foundation</span>
      </div>
      <div class="quote">
        <p>The integrity of CDA 230 is crucial to preserving community-driven resources like Wikipedia. Wikipedia is a part of everyday life for hundreds of millions of people, answering questions from the meaningful to the mundane. It is written and maintained by hundreds of thousands of volunteer contributors who work together to create reliable, neutral information, all governed by community-created policies. Wikipedia’s success is possible in large part due to CDA 230. CDA 230 enables the Wikimedia Foundation to host this remarkable user-generated resource. The Wikipedia we know today would not exist without CDA 230.</p>
        <span>Katherine Maher, Executive Director of the Wikimedia Foundation</span>
      </div>
      <div class="quote">
        <p>Section 230 doesn&#8217;t cause lawlessness. Rather, it creates a space in
which many things&#160;&#8212; including lawless behavior&#160;&#8212; come to light. And it&#8217;s in that light that multitudes of organizations and people have taken proactive steps to usher victims to safety and apprehend their abusers.</p>
        <span>Alexandra F. Levy, Adjunct Professor of Human Trafficking & Human Markets, Notre Dame Law School</span>
      </div>
      <div class="quote">
        <p>I run a small business that supports a vibrant online community of thousands of people. Knowing we're protected by Section 230 means we can operate like a community, depending on good judgement and thoughtful moderation to maintain a safe and civil social space.
</p>
        <span>Josh Millard, Owner and Moderator of MetaFilter</span>
      </div>
      <div class="quote">
        <p>Without Section 230, intermediaries could wind up taking a &#8216;better safe than sorry&#8217; approach to hosting their users&#8217; speech. Anything controversial, unpopular, or outside the mainstream could be viewed as a major risk of liability that many intermediaries simply couldn&#8217;t afford to take on. An Internet without Section 230 is one that diminishes the voice of the individual online, limits our access to information and diverse platforms for our speech, and pressures all intermediaries to act as gatekeepers and judge user content.</p>
        <span>Nuala O&#8217;Connor, President and CEO of the Center for Democracy and Technology</span>
      </div>
      <div class="quote">
        <p>Activists and dissidents need to be able to communicate freely to educate and organize. The online tools available to us, including third-party platforms that allow us to share speech and content on the Internet, have proved integral to our ability to organize. Section 230 protects those platforms and our ability to use them. We oppose SESTA because it would put those crucial platforms at risk.</p>
        <span>Sue Udry, Executive Director of Defending Rights and Dissent</span>
      </div>
      <div class="quote">
        <p>It is continuously frustrating to see legislation focusing on censorship as a means of combating sex trafficking, in hopes that broad restrictions on constitutionally protected speech will somehow trickle down to victims and survivors already in dire need of services and increased access to justice. Strategies such as SESTA have the opposite of their intended effect by eliminating platforms used as tools for intervention by victim advocates and law enforcement, making their important work that much more difficult. Censorship doesn't prevent trafficking.</p>
        <span>Siouxsie Q James, Director of Policy and Industry Relations, Free Speech Coalition</span>
      </div>
      <div class="quote">
        <p>Section 230 is integral to protecting our human rights to freedom of expression and anonymity online in the United States and globally. Undermining the protections for platforms based in the United States will damage the free and open nature of the Internet everywhere, and ultimately put peoples' rights at greater risk. This is a case where good intentions don't translate to smart policy.</p>
        <span>Amie Stepanovich U.S. Policy Manager, Access Now</span>
      </div>
    </div>
  </div>
</div>
