<div class="content-section quote-section bg-blue" id="quotes">
  <div class="container text-left">
    <div class="col-md-8 col-md-offset-2">
      <h2>Experts oppose SESTA</h2>

      <div class="quote">
        <p>Online platforms are the modern town square. We all benefit from the diversity of voices and perspectives online, and that&#8217;s largely thanks to the safe harbor protections in Section 230. Shifting more liability to Internet platforms for their users&#8217; speech will inevitably lead to those platforms more tightly monitoring and restricting users' activities. Again and again, when platforms clamp down on their users&#8217; speech, marginalized voices are the first to disappear.</p>
        <a href="javascript:return fasle;">Cindy Cohn, Executive Director of the Electronic Frontier Foundation</a>
      </div>
      <div class="quote">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum at lectus at faucibus. Praesent rhoncus ante ligula, vitae cursus tellus tristique ut. Nam rhoncus consequat ligula, sed maximus dolor cursus eu. Praesent lobortis mi et vestibulum cursus. Mauris sodales arcu ut est semper porttitor. Pellentesque vel lacinia sapien. Vestibulum pellentesque lacus sit amet eros malesuada semper. Suspendisse malesuada velit et mollis viverra. Sed lobortis tempus massa, vitae viverra metus fringilla vel. Pellentesque elit ex.</p>
        <a href="javascript:return fasle;">Katherine Maher, Executive Director of the Wikimedia Foundation</a>
      </div>
      <div class="quote">
        <p>Section 230 doesn&#8217;t cause lawlessness. Rather, it creates a space in
which many things&#160;&#8212; including lawless behavior&#160;&#8212; come to light. And it&#8217;s in that light that multitudes of organizations and people have taken proactive steps to usher victims to safety and apprehend their abusers.</p>
        <a href="javascript:return fasle;">Alexandra F. Levy, Adjunct Professor of Human Trafficking & Human Markets, Notre Dame Law School</a>
      </div>
      <div class="quote">
        <p>I run a small business that supports a vibrant online community of thousands of people. Knowing we're protected by Section 230 means we can operate like a community, depending on good judgement and thoughtful moderation to maintain a safe and civil social space.
</p>
        <a href="javascript:return fasle;">Josh Millard, Owner and Moderator of MetaFilter</a>
      </div>
      <div class="quote">
        <p>Without Section 230, intermediaries could wind up taking a &#8216;better safe than sorry&#8217; approach to hosting their users&#8217; speech. Anything controversial, unpopular, or outside the mainstream could be viewed as a major risk of liability that many intermediaries simply couldn&#8217;t afford to take on. An Internet without Section 230 is one that diminishes the voice of the individual online, limits our access to information and diverse platforms for our speech, and pressures all intermediaries to act as gatekeepers and judge user content.</p>
        <a href="javascript:return fasle;">Nuala O&#8217;Connor, President and CEO of the Center for Democracy and Technology</a>
      </div>
      <div class="quote">
        <p>Activists and dissidents need to be able to communicate freely to educate and organize. The online tools available to us, including third-party platforms that allow us to share speech and content on the Internet, have proved integral to our ability to organize. Section 230 protects those platforms and our ability to use them. We oppose SESTA because it would put those crucial platforms at risk.</p>
        <a href="javascript:return fasle;">Sue Udry, Executive Director of Defending Rights and Dissent</a>
      </div>
    </div>
  </div>
</div>
