<div class="share-links mobile">
  <a class="share-twitter" href="https://twitter.com/intent/tweet?text=SESTA/%20FOSTA%20puts%20ordinary%20people%20at%20risk%20of%20being%20shut%20out%20of%20online%20spaces.&amp;url=https%3A//stopsesta.org&amp;via=eff&amp;related=eff" target="_blank" title="Share on Twitter"><span>Share on Twitter</span><i></i></a>
  <a class="share-facebook" href="https://www.facebook.com/share.php?u=https%3A//stopsesta.org&amp;title=SESTA/%20FOSTA%20puts%20ordinary%20people%20at%20risk%20of%20being%20shut%20out%20of%20online%20spaces." target="_blank" title="Share on Facebook"><span>Share on Facebook</span><i></i></a>
</div>

<div class="share-links desktop">
  <a class="share-twitter" href="https://twitter.com/intent/tweet?text=SESTA/%20FOSTA%20puts%20ordinary%20people%20at%20risk%20of%20being%20shut%20out%20of%20online%20spaces.&amp;url=https%3A//stopsesta.org&amp;via=eff&amp;related=eff" target="_blank" title="Share on Twitter"><span>Share on Twitter</span><i></i></a>
  <a class="share-facebook" href="https://www.facebook.com/share.php?u=https%3A//stopsesta.org&amp;title=SESTA/%20FOSTA%20puts%20ordinary%20people%20at%20risk%20of%20being%20shut%20out%20of%20online%20spaces." target="_blank" title="Share on Facebook"><span>Share on Facebook</span><i></i></a>
</div>
