<div class="share-links mobile">
  <a class="share-twitter" href="https://twitter.com/intent/tweet?text=Stop%20SESTA%20Defend%20our%20online%20communities&amp;url=https%3A//stopsesta.org&amp;via=eff&amp;related=eff" target="_blank" title="Share on Twitter"><span>Share on Twitter</span><i></i></a>
  <a class="share-facebook" href="https://www.facebook.com/share.php?u=https%3A//stopsesta.org&amp;title=Stop%20SESTA%20Defend%20our%20online%20communities" target="_blank" title="Share on Facebook"><span>Share on Facebook</span><i></i></a>
</div>

<div class="share-links desktop">
  <a class="share-twitter" href="https://twitter.com/intent/tweet?text=Stop%20SESTA%20Defend%20our%20online%20communities&amp;url=https%3A//stopsesta.org&amp;via=eff&amp;related=eff" target="_blank" title="Share on Twitter"><span>Share on Twitter</span><i></i></a>
  <a class="share-facebook" href="https://www.facebook.com/share.php?u=https%3A//stopsesta.org&amp;title=Stop%20SESTA%20Defend%20our%20online%20communities" target="_blank" title="Share on Facebook"><span>Share on Facebook</span><i></i></a>
</div>
