<div class="share-links mobile">
  <a class="share-twitter" href="https://twitter.com/intent/tweet?text=Defend%20our%20communities!%20Stop%20SESTA&amp;url=https%3A//stopsesta.org&amp;via=eff&amp;related=eff" target="_blank" title="Share on Twitter"><span>Share on Twitter</span><i></i></a>
  <a class="share-facebook" href="https://www.facebook.com/share.php?u=https%3A//stopsesta.org&amp;title=Defend%20our%20communities!%20Stop%20SESTA" target="_blank" title="Share on Facebook"><span>Share on Facebook</span><i></i></a>
  <a class="share-google" href="https://plus.google.com/share?url=https%3A//stopsesta.org" title="Share on Google+"><span>Share on Google+</span><i></i></a>
  <div style="clear: both"></div>
</div>

<div class="share-links desktop">
  <a class="share-twitter" href="https://twitter.com/intent/tweet?text=Defend%20our%20communities!%20Stop%20SESTA&amp;url=https%3A//stopsesta.org&amp;via=eff&amp;related=eff" target="_blank" title="Share on Twitter"><span>Share on Twitter</span><i></i></a>
  <a class="share-facebook" href="https://www.facebook.com/share.php?u=https%3A//stopsesta.org&amp;title=Defend%20our%20communities!%20Stop%20SESTA" target="_blank" title="Share on Facebook"><span>Share on Facebook</span><i></i></a>
  <a class="share-google" href="https://plus.google.com/share?url=https%3A//stopsesta.org" title="Share on Google+"><span>Share on Google+</span><i></i></a>
  <div style="clear: both"></div>
</div>
