<!DOCTYPE html>
<html>
<head>
  {{ partial "head" . }}
</head>

<body>

  {{ partial "navigation" .}}

  <div class="header-info">
    <img class="hidden-lg img-responsive" src="images/stop-sesta-OG-mobile.png" alt="Stop SESTA hero image" />
    <img class="hidden-xs hidden-sm hidden-md img-responsive" src="images/yomna-nologo.png" alt="Stop SESTA hero image" />
    <img class="hidden-xs hidden-sm hidden-md img-responsive" src="images/stop-sesta-heading.png" alt="Stop SESTA" />
  </div>

  <div class="content-section bg-yellow">
    <h2 class="black">Defend Our Online Communities</h2>
      <div class="container">
        <div class="col-md-8 col-md-offset-2">
          <div class="white-box">

<p>We all rely on online communities to work, socialize, and learn. From the largest social media sites to the smallest message board, online platforms are central to our right to assemble and speak out. <a href="https://www.eff.org/deeplinks/2018/03/how-congress-censored-internet">SESTA/FOSTA puts ordinary people at risk of being shut out of those spaces.</a></p>

<p>The authors of SESTA/FOSTA claim that they designed the law to fight sex trafficking, but the law doesn’t punish traffickers. It does threaten legitimate online speech. Since Congress passed SESTA/FOSTA, owners of popular online platforms have responded by censoring completely lawful activity from their sites. Other sites hosting lawful activity have shut down entirely.</p>

<p>Online communities can thrive in large part thanks to a law known as Section 230. Section 230 protects online platforms from liability for some types of speech by their users. Without Section 230, social media would not exist in its current form, and neither would the plethora of nonprofit and community-based online groups that serve as crucial outlets for free expression and knowledge sharing. That’s why Section 230 is the <a href="https://www.eff.org/issues/cda230">most important law</a> protecting speech online.</p>

<p>Congress significantly undercut Section 230 and the robust online speech it promotes by passing SESTA/FOSTA. As a result, online platforms must face an awful decision: risk severe civil and criminal penalties for the activities of their users or restrict their users’ speech, silencing a lot of marginalized voices in the process.</p>

<p>That’s why the Electronic Frontier Foundation has <a href="#challenge">sued the United States Department of Justice</a> to have SESTA/FOSTA declared unconstitutional.</p>

            <div class="action-button button">
              <a href="#take-action" ><span class="larger">EFF's Legal Case</span><br/>Against SESTA/FOSTA
              </a>
            </div>
          </div>


        </div>
      </div>

        {{ partial "sharelinks" . }}

    </div>
  </div>

  {{ partial "facts" . }}

  {{ partial "quotes" . }}

  {{ partial "challenge" . }}

  {{ partial "footer" . }}


</body>
</html>
