<!DOCTYPE html>
<html>
<head>
  {{ partial "head" . }}
</head>

<body>

  {{ partial "navigation" .}}

  <div class="header-info">
    <img class="hidden-xs img-responsive" src="images/stop-sesta-header.jpg" alt="Stop SESTA" />

    </div>

    <div class="content-section bg-yellow">
      <div class="container">
        <div class="col-md-8 col-md-offset-2">
          <div class="white-box">

            <p>We all rely on online communities to work, socialize, and learn. From the largest social media site to the smallest community message board, online platforms are central to our right to assemble and speak out. <a href="https://www.eff.org/deeplinks/2017/08/internet-censorship-bill-would-spell-disaster-speech-and-innovation">SESTA would put those communities in danger</a>.</p>
            <p>Online platforms are enabled by a special law referred to as CDA 230 or simply Section 230. Section 230 protects online platforms from liability for some types of actions by their users. Without Section 230, social media would not exist in its current form, and neither would the plethora of nonprofit and community-based online groups that serve as crucial outlets for free expression and knowledge sharing. If Congress undermined these important protections, many online communities would be forced to place strong restrictions on their users’ speech and actions or risk going out of business.</p>
            <p>Let’s tell Congress: sex trafficking is a real, horrible problem, but SESTA is not the solution.</p>

            <div class="action-button">
              <a href="#take-action" class="button">Act Now</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  {{ partial "quotes" . }}

  {{ partial "petition" . }}

  {{ partial "logos" . }}

  {{ partial "footer" . }}

</body>
</html>
